body {
	background : black ;
	color : white ;
	font-family : arial, helvetica, sans-serif ;
}
td {
	font-family : arial, helvetica, sans-serif ;
	background : black ;
	color : white ;
}
center {
	font-family : arial, helvetica, sans-serif ;
}
p {
	font-family : arial, helvetica, sans-serif ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 3% ;
}
.indent_block {
	font-family : arial, helvetica, sans-serif ;
	text-align : left ;
	margin-left : 10% ;
	margin-right : 10% ;
}
br {
	font-family : arial, helvetica, sans-serif ;
}
form {
	font-family : arial, helvetica, sans-serif ;
}
ul {
	font-family : arial, helvetica, sans-serif ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 6% ;
}
ol {
	font-family : arial, helvetica, sans-serif ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 6% ;
}
dl {
	font-family : arial, helvetica, sans-serif ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 3% ;
}
h1 { 
	font-size : xx-large ; 
	background : black ;
	color : #5050FF ; 
	text-align : left ;
	margin-left : 3% ;
	margin-right : 3% ;
}
h2 { 
	font-size : x-large ; 
	background : black ;
	color : #5050FF ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 3% ;
}
h3 { 
	font-size : large ; 
	background : black ;
	color : #5050FF ;
	text-align : left ;
	margin-left : 3% ;
	margin-right : 3% ;
}
pre {
	font-family : courier, monospace ;
	font-size : medium ;
}

/*
** Do not edit or modify anything in this comment block.
** The arch-tag line is a file identity tag for the GNU Arch 
** revision control system.
**
** arch-tag: 08f03cbe-38c2-457b-95ff-44daea275294
*/
